@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin-bottom: 4rem;
}

@layer base {
  :root {
    --background: 0 0% 95%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

:root {
  --sh-class: #7aa2f7;
  --sh-sign: #89ddff;
  --sh-string: #9ece6a;
  --sh-keyword: #bb9af7;
  --sh-comment: #565f89;
  --sh-jsxliterals: #7aa2f7;
  --sh-property: #73daca;
  --sh-entity: #e0af68;
}

html {
  min-width: 360px;
  scrollbar-gutter: stable;
}

h1,
h2,
h3,
h4,
h5 {
  margin-left: 4rem;
}
p {
  margin-left: 4rem;
  margin-right: 4rem;
}

pre {
  background-color: #16161e;
  border-radius: 0.5rem;
  overflow-x: auto;
  padding: 1rem;
  margin: 1.5rem 0;
  margin-left: 4rem;
  margin-right: 4rem;
  line-height: 1;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

code {
  font-family: "Menlo", "Monaco", "Courier New", monospace;
  font-size: 14px;
  padding: 0.2em 0.4em;
  border-radius: 0.3em;
  background-color: var(--color-gray-100);
}

pre code {
  background-color: transparent;
  padding: 0;
  border: none;
  font-size: 14px;
  line-height: 1.5;
}

pre code > span .sh__token--identifier {
  color: white !important;
}

code:not(pre code) span {
  font-weight: 500;
  color: black !important;
}

pre code span {
  font-weight: 500;
}

hr {
  color: var(--color-gray-200);
}

/* Remove Safari input shadow on mobile */
input[type="text"],
input[type="email"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

.transition-element {
  view-transition-name: lee;
}

::view-transition-old(lee) {
  animation: fade-out 0.8s ease-in-out;
}

::view-transition-new(lee) {
  animation: fade-in-up 0.4s ease-in-out;
}

@keyframes fade-out {
  0% {
    transform: translateY(0) translateX(-0.2px);
    opacity: 1;
    font-weight: 500;
  }

  20% {
    transform: translateY(24px) translateX(-0.2px);
    opacity: 0.5;
  }

  40% {
    transform: translateY(24px) translateX(-0.2px);
    opacity: 0.3;
  }

  60% {
    transform: translateY(24px) translateX(-0.2px);
    opacity: 0.2;
  }

  100% {
    transform: translateY(24px) translateX(-0.2px);
    opacity: 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  60% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in-up {
  0% {
    transform: translateY(24px) translateX(-0.2px);
    opacity: 0;
  }

  20% {
    transform: translateY(24px) translateX(-0.2px);
    opacity: 0.5;
  }

  80% {
    transform: translateY(0) translateX(-0.2px);
    opacity: 0.7;
  }

  100% {
    transform: translateY(0) translateX(-0.2px);
    opacity: 1;
  }
}

@supports (view-transition-name: none) {
  .fade-in {
    animation: fade-in 0.8s ease-in-out forwards;
    opacity: 0;
  }
}
